<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!--     <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />


  </head>

  <body>
    <div class="content-wrapper">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.url }}/images/testes.png" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Blog</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>
        </div>
      </div>
      
<!--       <div style="margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
    ">
      <img style="margin:auto" src="images/emmons-compressed.jpg">
      </div> -->

      <div id="main" role="main" class="main container">
        {{ content }}
      </div>
      <div class="push">
      </div>
    </div>


    <div class="footer">
      {% include svg-icons.html %}
    </div>

    {% include analytics.html %}
  </body>
</html>
